<div class="author">
    <h1 class="author__heading">Hi, i am Annu Mudgal.</h1>
    <p class="author__body">Web Developer and Aspiring SDE.</p>
</div>
<img src="/img/developer-8764523.jpg" alt="hero hero-image" class="hero-image" width="981" height="528" style="object-fit: cover;">


<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">
        <% data.forEach(post =>{%>

   
        <li>
            <a href="/post/<%=post._id%>">
                <span><%=post.title%></span>
                <span class="article-list__date"><%=post.createdAt.toDateString() %></span>
            </a>
        </li>

        <% })%>
    </ul>
    
    <%if(nextpage!==null){%>
        <a href="/?page=<%=nextpage%>" class="pagination">&lt; View Older Posts</a>
    <%}%>
</section>